body {
    font-family: 'Fredoka', sans-serif;
    background-color: #eeece1;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mathflash-header {
    max-width: 400px;
}

.header-subtext {
    text-align: center;
    color: #0b5394;
    font-weight:normal;
    font-size: 1.75rem;
}

.back-pocket-math-logo {
    width: 250px;
    margin-top: 5px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.container {
    display: flex;
}

nav {
    background-color: #e5e3d8;
    padding: 1rem;
    border-right: 1px solid #dee2e6;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0.5rem 0;
}

nav ul li img {
    width: 125px;
    cursor: pointer;
}

main {
    width: 80%;
    height: auto;
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard {
    max-width: 750px;
    max-height: 450px;
    border: 0px solid #dee2e6;
    border-radius: 30px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    color: #0b5394;
    font-weight: bold;
    font-size: 8rem;
    cursor: pointer;
    background-color: #ffffff;
}